h5 {
    font-weight: 200;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 1.9em;
    color: #000;
    padding: 0;
    line-height: 0.8em !important;
    text-transform: none;
    font-weight: 600;
  }
  
  h5 span {
    color: red;
    animation-delay: 2s;
    font-weight: 600;
  }
  
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }